@charset "utf-8";
/* CSS Document */

body {
	margin:0 auto;
	background-color: #0198E1;
}
container{
	margin:0 auto;
	width:900px;
	display:block;
	background-color: white;
}
header {
	margin: 0 auto;
	width: 900px;
}
footer {
	margin: 0 auto;
	width: 900px;
}