@charset "utf-8";
/* CSS Document */

body {
	margin:0 auto;
	background-color: rgb(245, 255, 255);
}
container{
	margin:0 auto;
	width:900px;
	display:block;
}
header {
	margin: 0 auto;
	width: 900px;
}
footer {
	margin: 0 auto;
	width: 900px;
}